{% macro list_stores(items) %}
{% for item in items %}
    <div class="row" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="col-lg-12">
            {% if item.highlight %}
            <div class="panel panel-primary" id="panel_store_{{ item._id }}">
            {% else %}
            <div class="panel panel-default" id="panel_store_{{ item._id }}">
            {% endif %}
                <div class="panel-heading"><strong><a href="/?store={{item._id}}"><span itemprop="name">{{ item.name }}</span></a></strong>{% if item.wid and False %} - {{ item.wid|char2emoji('16') }}{% endif %}</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <!--<h3>{{item.name}}</h3>-->
                            <!--<div class="alert" role="alert">-->
                            <div>
                                <!--<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>-->
                                <span class="sr-only">Información:</span>
                                <span itemprop="description">{{ item.description|char2emoji|nl2br }}</span>
                            </div>
                            <div>
                                <ul>
                                    {% for product in item['products_documents'] %}
                                    <li itemprop="owns" itemscope itemtype="http://schema.org/Product"><span itemprop="name">{{product['full_name']|title}} {{product['brand']}}</span> <span itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span itemprop="price">{{product['price']}}</span></span></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <address><small>
                                <!--<strong>{{ item.name }}</strong><br>-->
                                {% if item.address %}
                                <span itemprop="address">{{ item.address }}</span><br>
                                {% endif %}
                                {% if item.place %}
                                <!--{{ item.place.full_name }}<br>-->
                                {% endif %}

                                {% for website in item.website %}
                                <a href="{{ website.url }}" itemprop="sameAs">{{ website.text }}</a><br>
                                {% endfor %}
                                {% if item.email %}
                                <strong><span itemprop="email">{{ item.email }}</span></strong><br>
                                {% endif %}

                                {% if item.tel %}
                                {% for tel in item.tel %}
                                <a href="tel:{{ tel.number}}"><span itemprop="telephone">{{ tel.number }}</span></a><br>
                                {% endfor %}
                                {% endif %}
                                {% if item.distance_klm %}
                                    {% if item.distance_klm < 1 %}
                                        {{ (item.distance_klm * 9)|round|int }} minutos a pie<br>
                                    {% elif item.distance_klm < 30 %}
                                        {{ ((item.distance_klm / 18)*60)|round|int }} minutos en bicicleta<br>
                                    {% else %}
                                        {{ ((item.distance_klm / 40)*60)|round|int }} minutos en transporte público<br>
                                    {% endif %}
                                {% endif %}
                            </small></address>
                            <a class="btn btn-default btn-xs" href="/store_add_edit?e={{ item._id }}" role="button">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                            </a>
                            <button class="btn btn-default btn-xs" type="button" onClick="return toggle_picture_uploader('{{ item._id }}')">
                                <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Agregar fotografía
                            </button>
                            {% if False %}<button class="btn btn-default btn-xs" type="button" data-toggle="modal" data-target="#upgradeModal" id="upgrade_{{ item._id }}">
                                <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span> Destacar
                            </button>{% endif %}
                        </div>

                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div style="font-size: 1em">
                                        {% if item.near_points|length != 0 %}
                                        <p><strong>Cerca de</strong>:</p>
                                        <ul>
                                        {% for point in item.near_points %}
                                        <li>{{ point }}</li>
                                        {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <p><small><small>Vistas: {{ item.views }}</small></small><br>
                                        <small><small>Ediciones: {{ item._version - 1 }}</small></small></p>
                                    </div>
                                </div>
                                {% if item.exact_location %}
                                <span itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
                                    <meta itemprop="latitude" content="{{item.location.coordinates[1]}}" />
                                    <meta itemprop="longitude" content="{{item.location.coordinates[0]}}" />
                                </span>
                                {% endif %}
                                <div class="col-lg-6">
                                    {% if item.location and item.location.coordinates[0]!=0 and item.location.coordinates[1]!=0 %}
                                    <a class="thumbnail" href="http://www.openstreetmap.org/#map=18/{{ item.location.coordinates[1] }}/{{ item.location.coordinates[0] }}" target="_blank">
                                        <img alt="Mapa de {{ item.name }}" src="http://api.tiles.mapbox.com/v4/eibriel.ece87d31/{% if item.exact_location %}pin-l-shop+482({{ item.location.coordinates[0] }},{{ item.location.coordinates[1] }})/{% endif %}{{ item.location.coordinates[0] }},{{ item.location.coordinates[1] }},{% if item.exact_location %}15{% else %}5{% endif %}/250x200.png?access_token=pk.eyJ1IjoiZWlicmllbCIsImEiOiJhMzhkNWYxY2NlMGFlZjNjMzQ2MDNjMjY3NGE5ZDhjMCJ9.a0QVatssobEUqLGZUm2u3A" />
                                    </a>
                                    {% elif item.place %}
                                    <a class="thumbnail" href="http://www.openstreetmap.org/#map=13/{{ item.place.location.coordinates[1] }}/{{ item.place.location.coordinates[0] }}" target="_blank">
                                        <img alt="Mapa de {{ item.name }}" src="http://api.tiles.mapbox.com/v4/eibriel.ece87d31/{{ item.place.location.coordinates[0] }},{{ item.place.location.coordinates[1] }},11/250x200.png?access_token=pk.eyJ1IjoiZWlicmllbCIsImEiOiJhMzhkNWYxY2NlMGFlZjNjMzQ2MDNjMjY3NGE5ZDhjMCJ9.a0QVatssobEUqLGZUm2u3A" />
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <!--</div>-->
                    </div><!--ROW-->

                    <div class="row hide" id="add_picture_div_{{ item._id }}">
                        <div class="col-lg-12" style="margin-top: 1em">
                            <form action="/add_client_picture" method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="client_picture" class="col-sm-2 control-label">Agregar Fotografía</label>
                                    <div class="col-sm-10">
                                        <input type="file" name="client_picture" ></input>
                                        <input type="hidden" name="store_id" value="{{ item._id }}"/>
                                        <span id="client_picture_help" class="help-block">Si sos cliente o usuario envíanos una fotografía de un producto o del lugar. Se publicará luego del proceso de moderación :)<br><small>La fotografía se publicará con una licencia de dominio público <a href="https://creativecommons.org/about/cc0" target="_blank">CC-0</a></small></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="client_picture_name_{{ item._id }}" class="col-sm-2 control-label">Título de la fotografía</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="name" id="client_picture_name_{{ item._id }}" value="">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div> <!-- ROW -->

                    <div class="row">
                        {% for picture in item['pictures_info'] %}
                        <div class="col-lg-3" style="margin-top: 1em">
                            <a class="thumbnail" href="/client_picture/{{ picture['id'] }}" target="_blank">
                                <img src="/client_picture/{{ picture['id'] }}" itemprop="image" alt="{{ picture['name'] }}">
                                <div class="caption">
                                    <small>{{ picture['name'] }}</small>
                                </div>
                            </a>
                        </div>
                        {% endfor %}
                    </div> <!-- ROW -->

                    <!--<div class="row">
                        <div class="col-lg-6" style="margin-top: 1em">

                        </div>
                        <div class="col-lg-6" style="text-align: right; margin-top: 1em">
                            <div class="btn-group" role="group" aria-label="Puntaje">
                                {% for n in range(0, item.total_score|int) %}
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                                {% endfor %}
                                {% for n in range(0, 5-item.total_score|int) %}
                                <button type="button" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                </button>
                                {% endfor %}
                            </div>
                        </div>--> <!-- COL -->
                    <!--</div>--> <!-- ROW -->
                </div> <!-- panel-body -->
            </div> <!-- panel -->
        </div> <!-- COL -->
    </div> <!-- ROW -->

{% endfor %}
{% endmacro %}

{% macro list_stores_js(items) %}
<script>
{% for item in items %}
$('#upgrade_{{ item._id }}').click( function(){ add_high('{{ item._id }}', '{{ item.iid }}', '{{ item.name }}'); } );
{% endfor %}

function toggle_picture_uploader(id) {
    $('#add_picture_div_'+id).toggleClass('hide');
    return false;
}

</script>
{% endmacro %}
