{% macro list_stores(items) %}
{% set even = True %}
{% for item in items %}
    {% if even %}
    <div class="row" style="margin-top: 30px;">
    {% endif %}
        <div class="col-lg-6">
            {% if item.highlight %}
            <div class="panel panel-primary">
              <div class="panel-heading"><h2>{{ item.name }} <span class="glyphicon glyphicon-star" aria-hidden="true"></span></h2></div>
            {% else %}
            <div class="panel panel-default">
              <div class="panel-heading"><h2>{{ item.name }}</h2></div>
            {% endif %}
              <div class="panel-body">
                <p>{{ item.description }}</p>
                {% if item.address %}
                <p>{{ item.address }}</p>
                {% endif %}
                
                {% for website in item.website %}
                <p><a href="{{ website.url }}">{{ website.text }}</a></p>
                {% endfor %}
                
                {% if item.tel %}
                {% for tel in item.tel %}
                <p>{{ tel.number }} <a class="btn btn-default btn-sm" role="button" href="tel:{{ tel.number }}"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Llamar</a></p>
                {% endfor %}
                {% endif %}
                
                {% if item.near_points|length != 0 %}
                <p>Cerca de:</p>
                <ul>
                {% for point in item.near_points %}
                <li>{{ point }}</li>
                {% endfor %}
                </ul>
                {% endif %}
                
                <div class="row">
                    <div class="col-lg-6">
                        {% if item.location %}
                        <a class="thumbnail" href="http://www.openstreetmap.org/#map=18/{{ item.location.coordinates[0] }}/{{ item.location.coordinates[1] }}" target="_blank">
                        <img src="http://api.tiles.mapbox.com/v4/eibriel.ece87d31/pin-l-shop+482({{ item.location.coordinates[1] }},{{ item.location.coordinates[0] }})/{{ item.location.coordinates[1] }},{{ item.location.coordinates[0] }},15/250x200.png?access_token=pk.eyJ1IjoiZWlicmllbCIsImEiOiJhMzhkNWYxY2NlMGFlZjNjMzQ2MDNjMjY3NGE5ZDhjMCJ9.a0QVatssobEUqLGZUm2u3A" />
                        </a>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-6" style="margin-top: 1em">
                        <a class="btn btn-default" href="/?e={{ item._id }}" role="button">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar
                        </a>
                        <a class="btn btn-default" href="/?e={{ item._id }}" role="button">
                            <span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span> Elevar
                        </a>
                    </div>
                    <div class="col-lg-6" style="text-align: right; margin-top: 1em">
                        <div class="btn-group" role="group" aria-label="Puntaje">
                            {% for n in range(0, item.total_score|int) %}
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            {% endfor %}
                            {% for n in range(0, 5-item.total_score|int) %}
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            </button>
                            {% endfor %}
                        </div>
                    </div>
                </div>

              </div>
            </div>
        </div>
    {% if even %}
    {% set even = False %}
    {% else %}
    </div><!-- /row -->
    {% set even = True %}
    {% endif %}
    
{% endfor %}
{% endmacro %}


