{% macro upgrade_modal() %}
<!-- Upgrade Modal -->
    <div class="modal fade" id="upgradeModal" tabindex="-1" role="dialog" aria-labelledby="upgradeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="upgradeModalLabel">Destacar comercio</h4>
                </div>
                <div class="modal-body">
                    <p>Agrega una Insignia a tu negocio para que se destaque! <strong>¡Abonando un año te regalamos 2 meses!</strong></p>
                    <p>Paso 1 de 2</p>

                    <div class="form-horizontal">
                        <!-- Badge -->
                        <div class="form-group">
                            <label for="payment_badge" class="col-sm-2 control-label">Insignia</label>
                            <div class="col-sm-10">
                                <select class="form-control"  id="payment_badge">
                                    <option value="ar">Reciclaje</option>
                                    <option value="br">Energía Limpia</option>
                                    <option value="co">Orgánico</option>
                                    <option value="ve">Vegano</option>
                                    <option value="mx">Kosher</option>
                                </select>
                                <span id="new_store_badge_help" class="help-block">Insignia que quieres agregar a la entidad</span>
                            </div>
                        </div>
                        <!-- Country -->
                        <div class="form-group">
                            <label for="payment_country" class="col-sm-2 control-label">País</label>
                            <div class="col-sm-10">
                                <select class="form-control"  name="country" id="payment_country">
                                    <option value="ar">Argentina</option>
                                    <option value="br">Brasil</option>
                                    <option value="co">Colombia</option>
                                    <option value="ve">Venezuela</option>
                                    <option value="mx">México</option>
                                    <option value="">Otros</option>
                                </select>
                                <span id="new_store_name_help" class="help-block">País desde donde se hará el pago</span>
                            </div>
                        </div>
                        <!-- Amount -->
                        <div class="form-group">
                            <label for="new_store_name" class="col-sm-2 control-label">Cantidad</label>
                            <div class="col-sm-10">
                                <div class="btn-group" data-toggle="buttons" id="product_radio">
                                  <label class="btn btn-primary active">
                                    <input type="radio" name="product" id="payment_year" autocomplete="off" value="highlight_one_year" checked> Un Año
                                  </label>
                                  <label class="btn btn-primary">
                                    <input type="radio" name="product" id="payment_month" autocomplete="off" value="highlight_one_month"> Un Mes
                                  </label>
                                </div>
                                <span id="new_store_name_help" class="help-block">¿Por cuánto tiempo querés destacar el comercio?</span>
                            </div>
                        </div>
                        <!-- Total -->
                        <div class="form-group">
                            <label for="payment_amount_to_pay" class="col-sm-2 control-label">Total a pagar</label>
                            <div class="col-sm-10">
                                <input type="text" id="payment_amount_to_pay" class="form-control" placeholder="0" value="2000" disabled></input>
                                <span id="new_store_name_help" class="help-block">El total que deberás abonar</span>
                            </div>
                        </div>
                        <!-- Ahorro -->
                        <div class="form-group">
                            <label for="payment_amount_saved" class="col-sm-2 control-label">Total ahorrado</label>
                            <div class="col-sm-10">
                                <input type="text" id="payment_amount_saved" class="form-control" placeholder="0" value="400" disabled></input>
                                <span id="new_store_name_help" class="help-block">Lo que estás ahorrando al destacar el comercio por varios meses</span>
                            </div>
                        </div>
                        <!-- Payment Method -->
                        <div class="form-group">
                            <label for="method_radio" class="col-sm-2 control-label">Método</label>
                            <div class="col-sm-10">
                                <div class="btn-group" data-toggle="buttons" id="method_radio">
                                  <!--<label class="btn btn-primary active disabled">
                                    <input type="radio" name="method" id="payment_pagomiscuentas" autocomplete="off" value="pagomiscuentas"> PagoMisCuentas
                                  </label>-->
                                  <label class="btn btn-primary active" id="payment_mercadopago_label">
                                    <input type="radio" name="method" id="payment_mercadopago" autocomplete="off" value="mercadopago" checked> MercadoPago
                                  </label>
                                  <label class="btn btn-primary" id="payment_local_bank_label">
                                    <input type="radio" name="method" id="payment_local_bank" autocomplete="off" value="local_bank"> Transferencia Bancária
                                  </label>
                                  <label class="btn btn-primary" id="payment_bitcoin_label">
                                    <input type="radio" name="method" id="payment_bitcoin" autocomplete="off" value="bitcoin"> Bitcoin
                                  </label>
                                </div>
                                <span id="new_store_name_help" class="help-block">Seleccionar método de pago</span>
                            </div>
                        </div>
                        <!-- EMail -->
                        <div class="form-group">
                            <label for="payment_email" class="col-sm-2 control-label">EMail</label>
                            <div class="col-sm-10">
                                <input type="text" name="email" id="payment_email" class="form-control" placeholder="tu@correo.com" value=""></input>
                                <span id="new_store_name_help" class="help-block">Enviar instrucciones de pago a éste correo</span>
                            </div>
                        </div>
                        <!-- Send -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <!--<button type="submit" class="btn btn-success" onclick="send_payment_instructions();">Enviar</button>-->
                                <button type="button" class="btn btn-success" data-dismiss="modal">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="upgrade_store_id" value=""/>
                    <input type="hidden" id="upgrade_store_iid" value=""/>
                    <input type="hidden" id="upgrade_store_name" value=""/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro upgrade_modal_js() %}
<script>
function add_high(id, iid, name) {
    //$('#panel_store_'+id).addClass('panel-primary');
    //$('#panel_store_'+id).removeClass('panel-default');
    //$('#star_'+id).css('display', 'inline');

    $('#upgrade_store_id').val(id);
    $('#upgrade_store_iid').val(iid);
    $('#upgrade_store_name').val(name);

    redraw_upgrade_modal();
}

function redraw_upgrade_modal() {
    var country = $('#payment_country').val();
    var product = $('input[name=product]:checked', '#product_radio').val();

    $('#payment_local_bank_label').removeClass('disabled');
    $('#payment_mercadopago_label').removeClass('disabled');
    $('#payment_bitcoin_label').removeClass('disabled');

    if (product == 'highlight_one_year') {
        ars_pay = 'ARS 2000.0';
        ars_saving = 'ARS 400.0';
        usd_pay = 'USD 200.0';
        usd_saving = 'USD 40.0';
        btc_pay = 'BTC 0.8';
        btc_saving = 'BTC 0.16';
    } else if (product == 'highlight_one_month') {
        ars_pay = 'ARS 200.0';
        ars_saving = 'ARS 0.0';
        usd_pay = 'USD 20.0';
        usd_saving = 'USD 0.0';
        btc_pay = 'BTC 0.08';
        btc_saving = 'BTC 0.0';
    }

    $('#payment_amount_to_pay').val(usd_pay);
    $('#payment_amount_saved').val(usd_saving);

    if (country == '') {
        $('#payment_local_bank_label').addClass('disabled');
        $('#payment_mercadopago_label').addClass('disabled');
        $('#payment_bitcoin').prop('checked', true);
        $('#payment_mercadopago').prop('checked', false);
        $('#payment_local_bank').prop('checked', false);
        $('#payment_bitcoin_label').addClass('active');
        $('#payment_mercadopago_label').removeClass('active');
        $('#payment_local_bank_label').removeClass('active');
    } else if (country == 'ar') {
        $('#payment_amount_to_pay').val(ars_pay);
        $('#payment_amount_saved').val(ars_saving);
    } else {
        $('#payment_local_bank_label').addClass('disabled');
        $('#payment_mercadopago').prop('checked', true);
        $('#payment_bitcoin').prop('checked', false);
        $('#payment_local_bank').prop('checked', false);
        $('#payment_mercadopago_label').addClass('active');
        $('#payment_bitcoin_label').removeClass('active');
        $('#payment_local_bank_label').removeClass('active');
    }

    var method = $('input[name=method]:checked', '#method_radio').val();

    //console.log(method);
    if (method == 'bitcoin') {
        $('#payment_amount_to_pay').val(btc_pay);
        $('#payment_amount_saved').val(btc_saving);
    }

}

$('#payment_country').change(redraw_upgrade_modal);
//
$('#payment_year').change(redraw_upgrade_modal);
$('#payment_month').change(redraw_upgrade_modal);
//
$('#payment_mercadopago').change(redraw_upgrade_modal);
$('#payment_local_bank').change(redraw_upgrade_modal);
$('#payment_bitcoin').change(redraw_upgrade_modal);

function send_payment_instructions() {
    var method = $('input[name=method]:checked', '#method_radio').val();
    var product = $('input[name=product]:checked', '#product_radio').val();
    var country = $('#payment_country').val();
    var email = $('#payment_email').val();
    var id = $('#upgrade_store_id').val();
    var iid = $('#upgrade_store_iid').val();
    var name = $('#upgrade_store_name').val();

    $.ajax({
      method: "GET",
      url: "/send_payment_instructions",
      type: "json",
      data: { email: email,
              method: method,
              product: product,
              country: country,
              id: id,
              iid: iid,
              name: name }
    })
      .done(function( msg ) {});

    $('#upgradeModal').modal('hide')
}

</script>
{% endmacro %}
