{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <!--<div class="panel panel-default">
            <div class="panel-body">-->
                <h1>Acerca de Hovyũ</h1>
                <p>
                    Hovyũ (suena similar a <em>hovujú</em>) es una comunidad de comercios e instituciones relacionados <strong>Diseño Sustentable</strong>,
                    el <strong>Comercio Justo</strong> y la <strong>Alimentación Consciente</strong>. La meta de Hovyũ es ser la
                    base de datos universal mas completa alimentada y mantenida por la comunidad.<br>
                    Está desarrollada por Eibriel como un proyecto de software libre, y no busca ser una competencia frente a otras
                    funtes de datos Sustentables (como <a href="http://greendy.com.ar" target="_blank">Greendy</a>), sino un complemento.<br>
                    La información es abierta, bajo una licencia CC-BY, y pronto será accesible a través de APIs que permitirán la creación
                    de aplicaciones por parte de terceros.<br>
                    <a href="/static/img/hovyu-screenshot.png" target="_blank">Descargar Screenshot</a>
                    <br><a href="/static/img/hovyu-logo.png" target="_blank">Descargar Logo</a>
                </p>
                <p>

                <h3>Acerca del creadores</h3>
                <p>
                    <a href="http://eibriel.com" target="_blank">Eibriel</a> es diseñador audiovisual y desarrollador de software, fanático del software
                    libre. Trabajó como Pipeline Developer en Argentina y Holanda.
                </p>

                <h3>El compromiso</h3>
                <p>
                    Los servidores están ubicados en Santa Fe y Buenos Aires (Argentina) apostando a la infraestructura local,
                    utilizamos medios electrónicos para reducir la utilización de papel.<br>
                    Hovyũ alienta la utilización de soluciones de pago alternativas y descentralizadas, el software libre y
                    las base de datos libres.
                </p>
                <h3>Contacto</h3>
                <ul>
                    <li><strong>eibrel@eibriel.com</strong></li>
                    <li><strong><a href="https://telegram.me/joinchat/0338811e01cabfbb50df16c3bea1faae" target="_blank">Chatea con nosotros en Telegram</a></strong></li>
                    <li><strong><a href="https://www.facebook.com/HovyuPage" target="_blank">Síguenos en Facebook</a></strong></li>
                </ul>
                <p>
                    Hovyũ es software libre, el código fuente está publicado en GitHub: <a href="https://github.com/Eibriel/hovyu-community-web" target="_blank">Interfaz Web</a> - <a href="https://github.com/Eibriel/hovyu-community-server" target="_blank">Servidor Web</a>.
                </p>
                <p>
                <strong>Varios comercios fueron tomados de:</strong> <a href="https://www.facebook.com/mapa.vegano" target="_blank">Mapa Vegano</a><br>
                <strong>Información geográfica:</strong> <a href="http://openstreetmap.org/" target="_blank">OpenStreetMap</a><br>
                <strong>Emojis:</strong> <a href="https://github.com/twitter" target="_blank">Twitter</a>
                </p>
            <!--</div>
        </div>-->
        <div class="panel panel-default col-sm-offset-2 col-sm-8 hide">
            <div class="panel-body" >
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/LTYDj_pqnDI?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
