{% extends "layout.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Hovyũ es una comunidad de comercios basados en el <strong>Diseño Sustentable</strong>,
                    el <strong>Comercio Justo</strong> y la <strong>Alimentación Consciente</strong>.
                </p>
                <p>
                    <strong>WIDÚ Transmedia</strong> es una empresa joven que busca desarrollar contenidos transmedia. Queremos comunicar,
                    conectar a la gente, brindándoles experiencias profundas y participativas,
                    haciéndolos parte de nuestra historia, y nuestros ideales, para ello hacemos uso de las nuevas tecnologías.
                </p>
                <p>
                    Nuestros servidores están ubicados en Santa Fe y Buenos Aires (Argentina) apostando a la infraestructura local,
                    utilizamos medios electrónicos para reducir la utilización de papel, para la tarjetería utilizamos papel 100% reciclado.<br>
                    También alentamos la utilización de soluciones de pago alternativas y descentralizadas, el software libre y
                    las base de datos libres.
                </p>
                <p><strong>Contacto:</strong> info@widutransmedia.com</p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" >
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/LTYDj_pqnDI?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
