{% extends "layout.html" %}
{% block body %}
    <div class="row">
        {% if editing %}
        <h1 style="text-align: center;">Editar Pago</h1>
        {% else %}
        <h1 style="text-align: center;">Agregar Pago</h1>
        {% endif %}
    </div>
    <div style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
        <a role="button" class="btn btn-primary btn-sm" href="/">
          Cancelar
        </a>
    </div>
    {% if editing %}
    <form action="edit_payment" method="POST" class="form-horizontal">
    {% else %}
    <form action="new_payment" method="POST" class="form-horizontal">
    {% endif %}
        <!-- Payment Method -->
        <div class="form-group">
            <label for="payment_method" class="col-sm-2 control-label">Método de pago</label>
                <div class="col-sm-10">
                    <select class="form-control"  name="payment_method" id="payment_method">
                        <option value="local_bank">Transferencia/Depósito Bancario</option>
                        <option value="pagomiscuentas">Pagomiscuentas</option>
                        <option value="bitcoin">Bitcoin</option>
                        <option value="bonus">Bonus</option>
                    </select>
            </div>
        </div>
        <!-- Description -->
        <div class="form-group">
            <label for="payment_description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10">
                <textarea name="description" id="payment_description" class="form-control" rows="3" >{{ edit_item.description }}</textarea>
                <span id="payment_description_help" class="help-block">Detalles del pago</span>
            </div>
        </div>
        <!-- Start day -->
        <div class="form-group">
            <label for="payment_start_day" class="col-sm-2 control-label">Start Day</label>
                <div class="col-sm-10">
                    <select class="form-control"  name="start_day" id="payment_start_day">
                    {% for n in range(1, 31) %}
                        <option value="ar">Pesos Argentinos</option>
                    {% endfor %}
                    </select>
            </div>
        </div>
        <!-- Store Id -->
        <div class="form-group">
            <label for="payment_store_id" class="col-sm-2 control-label">ID del Comercio</label>
            <div class="col-sm-10">
                <input type="text" name="store_id" id="payment_store_id" class="form-control" placeholder="s4c5c8e4fg4h6fgh5n8" value="{{ edit_item.store_id }}"></input>
                <span id="payment_store_help" class="help-block">ID del Comercio</span>
            </div>
        </div>
        <!-- Currency -->
        <div class="form-group">
            <label for="payment_currency" class="col-sm-2 control-label">Moneda</label>
                <div class="col-sm-10">
                    <select class="form-control"  name="currency" id="payment_currency">
                        <option value="ar">Pesos Argentinos</option>
                        <option value="usd">Dólar</option>
                        <option value="euro">Euro</option>
                        <option value="bitcoin">Bitcoin</option>
                    </select>
            </div>
        </div>
        <!-- Amount -->
        <div class="form-group">
            <label for="payment_amount" class="col-sm-2 control-label">Cantidad</label>
            <div class="col-sm-10">
                <input type="text" name="amount" id="payment_amount" class="form-control" placeholder="0.0 o 1000000000" value="{{ edit_item.amount }}"></input>
                <span id="payment_amount_help" class="help-block">Cantidad en formato de coma flotante o satoshi</span>
            </div>
        </div>
        <!-- Day cost -->
        <div class="form-group">
            <label for="payment_day_cost" class="col-sm-2 control-label">Costo diario</label>
            <div class="col-sm-10">
                <input type="text" name="day_cost" id="payment_day_cost" class="form-control" placeholder="0.0 o 1000000000" value="{{ edit_item.day_cost }}"></input>
                <span id="payment_day_cost_help" class="help-block">Cantidad en formato de coma flotante o satoshi</span>
            </div>
        </div>
        <!-- Completed -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="completed" {% if edit_item.completed %}checked="checked"{% endif %}> Completado
                    </label>
                </div>
            </div>
        </div>
        <!-- Refunded -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="refunded" {% if edit_item.refunded %}checked="checked"{% endif %}> Reembolsado
                    </label>
                </div>
            </div>
        </div>
        <!-- Description del Reembolso -->
        <div class="form-group">
            <label for="payment_refund_description" class="col-sm-2 control-label">Descripción del reembolso</label>
            <div class="col-sm-10">
                <textarea name="refund_description" id="payment_refund_description" class="form-control" rows="3" >{{ edit_item.refund_description }}</textarea>
                <span id="payment_refund_description_help" class="help-block">¿Cual fue el motivo del reembolso?¿Cómo y cuando se reenbolsó?</span>
            </div>
        </div>

        {% if editing %}
        <input type="hidden" name="_id" value="{{ edit_item._id }}">
        <input type="hidden" name="_etag" value="{{ edit_item._etag }}">
        {% endif %}
        {% if editing %}
        <button type="submit" class="btn btn-primary">Editar</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Agregar</button>
        {% endif %}
    </form>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
