{% extends "layout.html" %}
{% from '_human_check.html' import human_check, human_check_js %}

{% block body %}
    <div class="row">
        {% if editing %}
        <h1 style="text-align: center;">Editar Comercio</h1>
        {% else %}
        <h1 style="text-align: center;">Sumar Comercio</h1>
        {% endif %}
    </div>
    <div style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
        <a role="button" class="btn btn-primary btn-sm" href="/">
          Cancelar
        </a>
    </div>
    {% if not editing %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center">¿Conocés un negocio que se basa en el <strong>Diseño Sustentable</strong>, el <strong>Comercio Justo</strong> y la <strong>Alimentación Consciente</strong>?</p>
                    <p class="text-center lead">¡Sumalo ahora!</p>
                    <p class="text-center">
                        <small>
                            Si necesitás ayuda consultanos al correo eibriel@eibriel.com o
                            el <a href="https://telegram.me/joinchat/0338811e01cabfbb50df16c3bea1faae" target="_blank">chat de Telegram</a>.
                        </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if editing %}
    <form action="edit_store" method="POST" class="form-horizontal">
    {% else %}
    <form action="new_store" method="POST" class="form-horizontal">
    {% endif %}
        <!-- Name -->
        <div class="form-group">
            <label for="new_store_name" class="col-sm-2 control-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" name="name" id="new_store_name" class="form-control" placeholder="Comercio Sustentable" value="{{ edit_item.name }}" autocomplete="off"></input>
                <span id="new_store_name_help" class="help-block">Nombre del comercio que quiere sumar</span>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="similar_stores"></div>
                    <span id="similar_stores_help" class="help-block">Verifique que el comercio ya no esté en Hovyũ</span>
                </div>
            </div>
        </div>
        <!-- Description -->
        <div class="form-group">
            <label for="new_store_description" class="col-sm-2 control-label">Descripción</label>
            <div class="col-sm-10">
                <textarea name="description" id="new_store_description" class="form-control" rows="3" >{{ edit_item.description }}</textarea>
                <span id="new_store_name_help" class="help-block">¿A qué se dedica el comercio? ¿Por qué es especial?</span>
            </div>
        </div>
        <!-- Address -->
        <div class="form-group">
            <label for="new_store_email" class="col-sm-2 control-label">Dirección</label>
            <div class="col-sm-10">
                <input type="text" name="address" id="new_store_address" class="form-control" placeholder="Calle 1234" value="{{ edit_item.address }}"></input>
                <span id="new_store_address_help" class="help-block">Dirección del comercio</span>
            </div>
        </div>
        <!-- EMail -->
        <div class="form-group">
            <label for="new_store_email" class="col-sm-2 control-label">Correo electrónico</label>
            <div class="col-sm-10">
                <input type="email" name="email" id="new_store_email" class="form-control" placeholder="info@comercio.com" value="{{ edit_item.email }}"></input>
                <span id="new_store_name_help" class="help-block">Correo electrónico de contacto</span>
            </div>
        </div>
        <!-- Websites -->
        <div class="form-group">
            <label for="new_store_website" class="col-sm-2 control-label">Sitios Web</label>
            <div class="col-sm-10">

                <div class="col-sm-4">
                    <input type="text" name="website" id="new_store_website" class="form-control" placeholder="http://comercio.com" value=""></input>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="website_title" id="new_store_website_title" class="form-control" placeholder="Sitio Web Oficial" value=""></input>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="#" role="button" onclick="return add_website();">Agregar Sitio Web</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="hidden" id="new_store_websites_json" name="websites_json" value="{{ edit_item.websites_json }}"></input>
                        <div id="websites_list"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Phone Numbers -->
        <div class="form-group">
            <label for="new_store_website" class="col-sm-2 control-label">Teléfonos</label>
            <div class="col-sm-10">

                <div class="col-sm-4">
                    <select class="form-control"  name="tel_type" id="new_store_tel_type">
                        <option value="line">Línea</option>
                        <option value="mobile">Celular</option>
                        <option value="radio">Nextel</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <input type="text" name="tel" id="new_store_tel" class="form-control" placeholder="+12 345 12345678" value=""></input>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="#" role="button" onclick="return add_tel();">Agregar Teléfono</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="hidden" id="new_store_tels_json" name="tels_json" value="{{ edit_item.tels_json }}"></input>
                        <div id="tels_list"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Place -->
        {#
        <div class="form-group hide">
            <label for="new_store_name" class="col-sm-2 control-label">Zona</label>
            <div class="col-sm-10">
                <div class="col-sm-8">
                    <input type="text" id="new_store_place" class="form-control" placeholder="Córdoba" value="" autocomplete="off"></input>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="#" role="button" onclick="return search_place();">Buscar Lugar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10 hide">
            <div class="panel panel-default">
                <div class="panel-body">
                    <input type="hidden" id="new_store_place_json" name="place_json" value="{{ edit_item.place_json }}"></input>
                    <div><span class="label label-success" id="zone_name_button"></span></div>
                    <div id="query_items"></div>
                </div>
            </div>
        </div>
        #}
        <!-- Location -->

        <div class="col-sm-offset-2 col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Haz click en la imagen para obtener las coordenadas
                    </h4>
                </div>
                <div class="panel-body">
                    <span class="thumbnail"><img id="world_map" src="/static/img/world.topo.200412.3x5400x2700_half.jpg" alt="Imágen satelital de la tierra"></span>
                    <small>Imagen libre de límites artificiales. <a href="http://visibleearth.nasa.gov/view_cat.php?categoryID=1484" target="_blank">December, Blue Marble Next Generation w/ Topography, NASA</a></small>
                </div>
            </div>
        </div>

        <div class="form-group ">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="exact_location" {% if edit_item.exact_location %}checked="checked"{% endif %}> Posición exacta
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="new_store_name" class="col-sm-2 control-label">Latitud</label>
            <div class="col-sm-10">
                <input type="text" name="latitude" id="new_store_latitude" class="form-control" placeholder="-0.00000" value="{% if edit_item.location %}{{edit_item.location.coordinates[1]}}{% endif %}"></input>
            </div>
        </div>
        <div class="form-group">
            <label for="new_store_longitude" class="col-sm-2 control-label">Longitud</label>
            <div class="col-sm-10">
                <input type="text" name="longitude" id="new_store_longitude" class="form-control" placeholder="0.00000" value="{% if edit_item.location %}{{edit_item.location.coordinates[0]}}{% endif %}"></input>
            </div>
        </div>

        <!-- Advanced-->
        <div class="col-sm-offset-2 col-sm-10" style="margin-bottom: 2em;">
            <a class="btn btn-default" href="#" role="button" onclick="return toggle_advanced_form();">Opciones Avanzadas</a>
        </div>

        <!-- Products -->
        <div class="form-group advanced_form hide">
            <label for="new_store_product" class="col-sm-2 control-label">Productos</label>
            <div class="col-sm-10">

                <div class="col-sm-8">
                    <input type="text" id="new_store_product" class="form-control" placeholder="Milanesa / de soja" value="" autocomplete="off"></input>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="#" role="button" onclick="return search_product();">Buscar Producto</a>
                </div>
            </div>
        </div>
        <div class="row advanced_form hide">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="query_products"></div>
                        <div>
                            <p><span class="label label-primary" id="new_store_edit_product_name"></span></p>
                            <div id="products_properties_list" ></div>
                            <input type="text" id="new_product_brand" class="form-control" placeholder="Marca Acme / 100% natural" value="" /><br>
                            <input type="text" id="new_product_price" class="form-control" placeholder="$5 el Kg" value="" /><br>
                            <span id="product_add_button"><a class="btn btn-default" role="button" href="#" onclick="return add_product();">Agregar</a>&nbsp;</span>
                            <span id="product_save_edit_button" class="hide"><a class="btn btn-default" role="button" href="#" onclick="return save_edit_product();">Editar</a>&nbsp;</span>
                            <a class="btn btn-default btn-xs" role="button" href="#" onclick="return cancel_add_edit_product();">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row advanced_form hide">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <input type="hidden" id="new_store_products_json" name="products_json" value="{{ edit_item.products_json }}"></input>
                        <div id="products_list"></div>
                    </div>
                </div>
            </div>
        </div>
        {% if editing %}
        <input type="hidden" name="_id" value="{{ edit_item._id }}">
        <input type="hidden" name="_etag" value="{{ edit_item._etag }}">
        <!-- Edit Reason -->
        <div class="form-group">
            <label for="new_store_edit_reason" class="col-sm-2 control-label">Descripcion de la edición</label>
            <div class="col-sm-10">
                <input type="text" name="edit_reason" id="new_store_edit_reason" class="form-control" placeholder="Editado porque..." value=""></input>
                <span id="new_store_edit_reason_help" class="help-block">Breve descripción de la edición</span>
            </div>
        </div>
        {% else %}
        <input type="hidden" name="edit_reason" value="">
        {% endif %}

        {{ human_check() }}

        {% if editing %}
        <button type="submit" class="btn btn-primary">Editar</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Sumar</button>
        {% endif %}
    </form>

{% endblock %}

{% block scripts %}
<script>
/* ADVANCED */
function toggle_advanced_form() {
    $('.advanced_form').toggleClass('hide');
    return false;
}
/* WEBSITES */
if ($('#new_store_websites_json').val()=='') {
    $('#new_store_websites_json').val('[]');
}
function print_websites() {
    var html = "";
    for (var item in websites) {
      html = html + "<p><a href='"+websites[item]['url']+"' target='_blank'> "+websites[item]['text']+"</a> <a class='btn btn-default btn-xs' href='#' role='button' onclick='return remove_website(\""+websites[item]['url']+"\");'>Eliminar</a> <a class='btn btn-default btn-xs' href='#' role='button' onclick='return edit_website(\""+websites[item]['url']+"\");'>Editar</a></p>";
    }
    $('#websites_list').html(html);
}
var websites = JSON.parse($('#new_store_websites_json').val());
print_websites();

/* TELS */
if ($('#new_store_tels_json').val()=='') {
    $('#new_store_tels_json').val('[]');
}
function print_tels() {
    var html = "";
    for (var item in tels) {
      html = html + "<p><strong>Tipo:</strong> "+tels[item]['type']+" <strong>Número:</strong> "+tels[item]['number']+" <a class='btn btn-default btn-xs' href='#' role='button' onclick='return remove_tel(\""+tels[item]['number']+"\");'>Eliminar</a> <a class='btn btn-primary btn-xs' href='#' role='button' onclick='return edit_tel(\""+tels[item]['number']+"\");'>Editar</a></p>";
    }
    $('#tels_list').html(html);
}
var tels = JSON.parse($('#new_store_tels_json').val());
print_tels();

/* PRODUCTS */
$("#new_store_product").keyup(search_product);

function search_product() {
    if ($("#new_store_product").val()=="") {
        $("#query_products").html("");
        return false;
    }
    $.ajax({
      method: "POST",
      url: "/build_query",
      type: "json",
      data: { q: $('#new_store_product').val() }
    })
        .done(function( msg ) {
            var html = '<p style="line-height: 3em">';
            var name = "";
            var _id = "";
            for (var index in msg['products']) {
                _id = msg['products'][index]['_id'];
                name = msg['products'][index]['name'];
                html += "<a class='btn btn-primary btn-sm' role='button' href='#' onclick='return edit_product(\""+_id+"\", \""+name+"\")'>"+name+"</a> ";
            }
            html += "</p><p>";
            for (var index in msg['products_properties']) {
                _id = msg['products_properties'][index]['_id'];
                name = msg['products_properties'][index]['name'];
                html += "<a class='btn btn-warning btn-sm' role='button' href='#' onclick='return add_product_property(\""+_id+"\", \""+name+"\")'>"+name+"</a> ";
            }
            html += "</p>";
            $("#query_products").html(html);
        });
     return false;
}

if ($('#new_store_products_json').val()=='') {
    $('#new_store_products_json').val('[]');
}
function print_products() {
    var html = "";
    for (var item in products) {
        html = html + '<p>';
        html = html + '<span class="label label-primary">'+products[item]['name']+'</span>';
        for (var prop_item in products[item]['properties']) {
            html = html + ' <span class="label label-warning">'+products[item]['properties'][prop_item]['name']+'</span>';
        }
        html = html + ' <span class="label label-info">'+products[item]['brand']+'</span>';
        html = html + ' <span class="label label-info">'+products[item]['price']+'</span>';
        html = html + ' <a class="btn btn-default btn-xs" href="#" role="button" onclick="return remove_product(\''+products[item]['tmp_id']+'\');">Eliminar</a>';
        html = html + ' <a class="btn btn-default btn-xs" href="#" role="button" onclick="return add_edit_product(\''+products[item]['tmp_id']+'\');">Editar</a>';
        html = html + '</p>';
    }
    $('#products_list').html(html);
}
var products = JSON.parse($('#new_store_products_json').val());
print_products();

function remove_product(tmp_id) {
    var new_products = new Array;
    for (var product in products) {
        if (products[product]['tmp_id'] != tmp_id) {
            new_products.push(products[product]);
        }
    }
    products = new_products;
    $('#new_store_products_json').val(JSON.stringify(products))
    print_products();
    return false;
}

editing_product = Object();
function edit_product(_id, name) {
    $('#new_store_edit_product_name').html(name);
    $('#new_store_product').val('');
    $("#query_products").html('');
    editing_product['_id'] = _id;
    editing_product['name'] = name;
    return false;
}

function add_edit_product(tmp_id) {
    product = undefined;
    for (item in products) {
        if (products[item]['tmp_id'] == tmp_id) {
            product = products[item];
            break;
        }
    }
    //console.log(product);
    editing_product = product;
    edit_product_properties = product['properties'];
    print_products_properties();
    $('#new_store_edit_product_name').html(product['name']);
    $('#new_product_brand').val(product['brand']);
    $('#new_product_price').val(product['price']);
    $('#product_add_button').addClass('hide');
    $('#product_save_edit_button').removeClass('hide');
    return false;
}

function cancel_add_edit_product() {
    reset_edit_product();
    return false;
}
// Returns a random integer between min (included) and max (excluded)
// Using Math.round() will give you a non-uniform distribution!
function getRandomInt(min, max) {
  return Math.floor(Math.random() * (max - min)) + min;
}

edit_product_properties = new Array();
function add_product() {
    if (!editing_product['name']) {
        return false;
    }
    var new_product = new Object();
    while (true) {
        new_product['tmp_id'] = getRandomInt(0,99999);
        repeated = false;
        for (item in products) {
            if (products[item]['tmp_id'] == new_product['tmp_id']){
                repeated = true;
            }
        }
        if (!repeated) {
            break;
        }
    }
    new_product['product'] = editing_product['_id'];
    new_product['name'] = editing_product['name'];
    new_product['properties'] = edit_product_properties;
    new_product['brand'] = $('#new_product_brand').val();
    new_product['price'] = $('#new_product_price').val();

    products.push(new_product);
    $('#new_store_products_json').val(JSON.stringify(products))
    print_products();
    reset_edit_product();
    return false;
}

function save_edit_product() {
    for (item in products) {
        if (products[item]['tmp_id'] == editing_product['tmp_id']){
            products[item]['product'] = editing_product['product'];
            products[item]['name'] = editing_product['name'];
            products[item]['properties'] = edit_product_properties;
            products[item]['brand'] = $('#new_product_brand').val();
            products[item]['price'] = $('#new_product_price').val();
            break;
        }
    }
    $('#new_store_products_json').val(JSON.stringify(products))
    print_products();
    reset_edit_product();
    return false;
}

function reset_edit_product() {
    editing_product = new Object();
    edit_product_properties = new Array();
    print_products_properties();
    $('#new_store_edit_product_name').html('');
    $('#new_product_brand').val('');
    $('#new_product_price').val('');
    $('#product_add_button').removeClass('hide');
    $('#product_save_edit_button').addClass('hide');

    $('#new_store_product').val('');
    $("#query_products").html('');
    $('#new_product_brand').val('');
    $('#new_product_price').val('');
    edit_product_properties = new Array();
    print_products_properties();
}

function add_product_property(_id, name) {
    //$('#new_store_edit_product_property').html(name);
    $('#new_store_product').val('');
    $("#query_products").html('');
    for (item in edit_product_properties) {
        if (edit_product_properties[item]['_id']==_id) {
            return false;
        }
    }

    prop = new Object();
    prop['_id'] = _id;
    prop['name'] = name;
    edit_product_properties.push(prop);
    print_products_properties();
    return false;
}

function remove_product_property(_id) {
    new_properites = new Array();
    for (item in edit_product_properties) {
        if (edit_product_properties[item]['_id']!=_id) {
            new_properites.push(edit_product_properties[item]);
        }
    }
    edit_product_properties = new_properites;
    print_products_properties();
    return false;
}

function print_products_properties() {
    var html = "";
    for (var item in edit_product_properties) {
        html = html + '<p>';
        html = html + '<span class="label label-warning">'+edit_product_properties[item]['name']+'</span>';
        html = html + ' <a class="btn btn-default btn-xs" role="button" href="#" onclick="return remove_product_property(\''+edit_product_properties[item]['_id']+'\')">Eliminar</a>';
        html = html + '</p>';
    }
    $('#products_properties_list').html(html);
}

/* ADD */
function add_website() {
    url = $('#new_store_website').val();
    text = $('#new_store_website_title').val();
    var done = false;

    if (url=='' || text=='') {
        return false;
    }

    for (var website in websites) {
        if (websites[website]['url'] == url) {
            websites[website]['text'] = text;
            done = true;
        }
    }

    if (! done) {
        var new_website = new Object();
        new_website['url'] = url;
        new_website['text'] = text;
        websites.push(new_website);
    }

    $('#new_store_websites_json').val(JSON.stringify(websites))
    print_websites();

    return false;
}

function add_tel() {
    number = $('#new_store_tel').val();
    type = $('#new_store_tel_type').val();

    if (number=='' || type=='') {
        return false;
    }

    var new_tel = new Object();
    new_tel['type'] = type;
    new_tel['number'] = number;

    tels.push(new_tel);
    $('#new_store_tels_json').val(JSON.stringify(tels))
    print_tels();

    return false;
}

/* REMOVE */
function remove_website(url) {
    var new_websites = new Array;
    for (var website in websites) {
        if (websites[website]['url'] != url) {
            new_websites.push(websites[website]);
        }
    }
    websites = new_websites;
    $('#new_store_websites_json').val(JSON.stringify(websites))
    print_websites();
    return false;
}

function remove_tel(number) {
    var new_tels = new Array;
    for (var tel in tels) {
        if (tels[tel]['number'] != number) {
            new_tels.push(tels[tel]);
        }
    }
    tels = new_tels;
    $('#new_store_tels_json').val(JSON.stringify(tels))
    print_tels();
    return false;
}

/* EDIT */
function edit_website(url) {
    for (var website in websites) {
        if (websites[website]['url'] == url) {
            $('#new_store_website').val(websites[website]['url']);
            $('#new_store_website_title').val(websites[website]['text']);
        }
    }
    return false;
}

function edit_tel(number) {
    for (var tel in tels) {
        if (tels[tel]['number'] == number) {
            $('#new_store_tel').val(tels[tel]['number']);
            $('#new_store_tel_type').val(tels[tel]['type']);
        }
    }
    return false;
}
</script>

<script>
{#
$("#new_store_place").keyup(search_place);

function search_place() {
    if ($('#new_store_place').val()=="") {
        return false;
    }
    $.ajax({
      method: "POST",
      url: "/build_query",
      type: "json",
      data: { q: $('#new_store_place').val() }
    })
        .done(function( msg ) {
            var html = '<p style="line-height: 3em">';
            var name = "";
            var _id = "";
            for (var index in msg['places']) {
                _id = msg['places'][index]['_id'];
                osm_id = msg['places'][index]['osm_id'];
                full_name = msg['places'][index]['full_name'];
                latitude = msg['places'][index]['latitude'];
                longitude = msg['places'][index]['longitude'];
                html += "<a class='btn btn-success btn-sm' role='button' href='#' onclick='return add_query_place(\""+_id+"\", \""+osm_id+"\", \""+full_name+"\", \""+latitude+"\", \""+longitude+"\")'>"+full_name+"</a> ";
            }
            html += "</p>";
            $("#query_items").html(html);
        });

    return false;
}

function add_query_place(_id, osm_id, full_name, latitude, longitude) {
    $("#zone_name_button").html(full_name);
    $("#query_items").html("");
    $('#new_store_place').val("");
    place = new Object()
    place.place_id = _id;
    place.full_name = full_name;
    place.osm_id = osm_id;
    place.longitude = longitude;
    place.latitude = latitude;
    $('#new_store_place_json').val(JSON.stringify(place))

    return false;
}

place_json = JSON.parse($('#new_store_place_json').val())
if (place_json) {
    $("#zone_name_button").html(place_json.full_name);
}
#}
</script>
<script>
$("#new_store_name").keyup(search_store);

function search_store() {
    if ($('#new_store_name').val()=="") {
        $("#similar_stores").html('');
        return false;
    }
    $.ajax({
      method: "POST",
      url: "/build_query",
      type: "json",
      data: { q: $('#new_store_name').val() }
    })
        .done(function( msg ) {
            var html = '<p style="line-height: 3em">';
            var full_name = "";
            var _id = "";
            for (var index in msg['stores']) {
                _id = msg['stores'][index]['_id'];
                full_name = msg['stores'][index]['full_name'];
                html += "<a class='btn btn-default btn-sm' role='button' href='/?store="+_id+"' target='_blank'>"+full_name+"</a> ";
            }
            html += "</p>";
            $("#similar_stores").html(html);
        });

    return false;
}

/* COORDINATES */
$('#world_map').click(function (e) {
        var posX = $(this).offset().left,
            posY = $(this).offset().top;

        var y = e.pageY - posY - 1;
        var x = e.pageX - posX - 1;

        width = $('#world_map').width()
        height = $('#world_map').height()

        var lat = (y/(height/180)-90)/-1;
        var lng = x/(width/360)-180;

        console.log(x + ' , ' + y + ', ' + lat + ', ' + lng);

        $('#new_store_latitude').val(lat);
        $('#new_store_longitude').val(lng);

    });
</script>
{{ human_check_js() }}
{% endblock %}