{% extends "layout.html" %}
{% block body %}
    <div class="row">
        {% if editing %}
        <h1 style="text-align: center;">Editar Consejos y Trucos</h1>
        {% else %}
        <h1 style="text-align: center;">Agregar Consejos y Trucos</h1>
        {% endif %}
    </div>
    <div style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
        <a role="button" class="btn btn-primary btn-sm" href="/tipstricks">
          Cancelar
        </a>
    </div>
    {% if editing %}
    <form action="edit_tiptrick" method="POST" class="form-horizontal">
    {% else %}
    <form action="new_tiptrick" method="POST" class="form-horizontal">
    {% endif %}
        <!-- Text -->
        <div class="form-group">
            <label for="tiptrick_text" class="col-sm-2 control-label">Texto</label>
            <div class="col-sm-10">
                <textarea name="text" id="tiptrick_text" class="form-control" rows="3" >{{ edit_item.text }}</textarea>
                <span id="tiptrick_text_help" class="help-block">Descripción del Consejo / Truco</span>
            </div>
        </div>
        <!-- Image -->
        <div class="form-group">
            <label for="tiptrick_image" class="col-sm-2 control-label">Imagen</label>
                <div class="col-sm-10">
                    <select class="form-control"  name="image" id="tiptrick_image">
                        <option value="stickers_amorzorzores/zzra_riendo_b.png">Amorzorzora Riendo</option>
                        <option value="stickers_amorzorzores/zzr_saltando_b.png">Amorzorzor Saltando</option>
                    </select>
            </div>
        </div>
        <div class="form-group">
            <label for="admin_password" class="col-sm-2 control-label">Password de Administrador</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="admin_password" id="admin_password" placeholder="Password de Administrador">
                <span id="password_help" class="help-block">Solo el administrador tiene permisos para cambiar esta información</span>
            </div>
        </div>
        {% if editing %}
        <input type="hidden" name="_id" value="{{ edit_item._id }}">
        <input type="hidden" name="_etag" value="{{ edit_item._etag }}">
        {% endif %}
        {% if editing %}
        <button type="submit" class="btn btn-primary">Editar</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Agregar</button>
        {% endif %}
    </form>

{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
