{% extends "layout.html" %}
{% from '_add_edit_modal.html' import add_edit_modal, add_edit_modal_js %}
{% from '_upgrade_modal.html' import upgrade_modal, upgrade_modal_js %}
{% from '_list_stores.html' import list_stores, list_stores_js %}
{% block body %}
    <div class="row">
        <h1 style="text-align: center;">Comunidad WIDÚ</h1>
    </div>
    <div style="text-align: center; margin-top: 10px; margin-bottom: 20px;">
        <a role="button" class="btn btn-primary btn-sm" href="/store_add_edit">
          Sumar comercio
        </a>
    </div>
    
    <div class="row">
        <div class="col-lg-3">
        </div> 
        <div class="col-lg-6">
            <form action="/" method="GET">
                <input type="hidden" name="latitude" id="q_latitude" value="{{latitude}}">
                <input type="hidden" name="longitude" id="q_longitude" value="{{longitude}}">
                <input type="hidden" name="product" id="q_product" value="{{product}}">
                <input type="hidden" name="place_id" id="q_place_id" value="{{place_id}}">
                <button type="submit" class="btn btn-default btn-lg" style="margin-bottom: 1em;">
                    <div>Busco <span class="label label-primary" id="query_product">{{product_name}}</span><span id="place_label_near_to"> cerca de</span><span id="place_label_in"> en</span> <span class="label label-success" id="place_label"><span id="place_label_here">aquí</span><span id="query_place">{{- place_full_name -}}</span></span> <!--<span class="label label-info" id="query_point">{{location_name}}</span>--></div>
                </button>
            </form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Busco..." name="q" id="q" autocomplete="off">
              <!--<span class="input-group-btn">
                <button class="btn btn-success" type="button">DÚ!</button>
              </span>-->
            </div><!-- /input-group -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="common_query_items">
                        <a class="btn btn-primary btn-sm" role="button" href="#" onclick="return all_products()">todo</a>
                        <a class="btn btn-success btn-sm" role="button" href="#" onclick="return here()">aquí</a>
                        <a class="btn btn-success btn-sm" role="button" href="#" onclick="return any_place()">cualquiér lado</a>
                    </div>
                    <div id="query_items">
                    </div>
                </div>
            </div>
        </div> 
        <div class="col-lg-3">
        </div> 
    </div><!-- /row -->

    {% if items|length <1 %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p style="text-align: center;">Comunidad de comercios basados en el <strong>Diseño Sustentable</strong>, el <strong>Comercio Justo</strong> y la <strong>Alimentación Consciente</strong></p>
                </div>
            </div>
            <!--
            <div class="panel panel-default">
                <div class="panel-body" >
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/LTYDj_pqnDI?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    {% endif %}

    {{ list_stores(items) }}

<!--</div>-->

{{ msg }}

{{ upgrade_modal() }}

{% endblock %}

{% block scripts %}
{{ list_stores_js(items) }}
{{ upgrade_modal_js() }}
<script>
$("#q").keyup(function() {
    if ($('#q').val()=="") {
        return;
    }
    $.ajax({
      method: "POST",
      url: "/build_query",
      type: "json",
      data: { q: $('#q').val() }
    })
      .done(function( msg ) {
        var html = '<p style="line-height: 3em">';
        var name = "";
        var _id = "";
        for (var index in msg['products']) {
            name = msg['products'][index]['name'];
            _id = msg['products'][index]['_id'];
            html += "<a class='btn btn-primary btn-sm' role='button' href='#' onclick='return add_query_product(\""+_id+"\", \""+name+"\")'>"+name+"</a> ";
        }
        html += '</p><p style="line-height: 3em">';
        for (var index in msg['places']) {
            name = msg['places'][index]['name'];
            full_name = msg['places'][index]['full_name'];
            _id = msg['places'][index]['_id'];
            html += "<a class='btn btn-success btn-sm' role='button' href='#' onclick='return add_query_place(\""+_id+"\", \""+full_name+"\")'>"+full_name+"</a> ";
        }
        html += "</p>";
        $("#query_items").html(html);
        $("#common_query_items").css('display', 'none');
      });
});

function add_query_product(_id, name) {
    $("#query_product").html(name);
    $('#q_product').val(_id);
    $('#q_product_name').val(name);
    $("#query_items").html("");
    $('#q').val("");
    
    $("#common_query_items").css('display', 'inline');
    return false;
}

function add_query_place(_id, full_name) {
    $("#query_place").html(full_name);
    $('#q_place_id').val(_id);
    $('#q_place_full_name').val(full_name);
    //$('#q_product_name').val(name);
    $("#query_items").html("");
    $('#q').val("");
    $('#new_store_place').val("");
    this_place();
    
    $("#common_query_items").css('display', 'inline');
    return false;
}

/* Geolocation */
{% if latitude and longitude %}
var latitude = {{latitude}};
var longitude = {{longitude}};
{% else %}
var latitude = null;
var longitude = null;
{% endif %}

function here() {
    if ("geolocation" in navigator) {
        navigator.geolocation.getCurrentPosition(function(position) {
          latitude = position.coords.latitude;
          longitude = position.coords.longitude;
          
          print_here();
          
        }, function(err) {
          $('#query_place').html( $('#q_location_name').val() );
        });
    }
    
    return false;
}

function print_here() {
    $('#q_latitude').val(latitude);
    $('#q_longitude').val(longitude);
    $('#q_location_name').val('aquí');
    $('#q_place_id').val("");

    $('#place_label').css('display', 'inline');
    $('#place_label_here').css('display', 'inline');
    $('#place_label_near_to').css('display', 'inline');
    $('#place_label_in').css('display', 'none');
    $('#query_place').css('display', 'none');
}

function any_place() {
    $('#q_latitude').val("");
    $('#q_longitude').val("");
    $('#q_location_name').val("");
    
    $('#place_label').css('display', 'none');
    $('#place_label_here').css('display', 'none');
    $('#place_label_near_to').css('display', 'none');
    $('#place_label_in').css('display', 'none');
    
    return false;
}

function this_place() {
    $('#q_latitude').val("");
    $('#q_longitude').val("");
    
    $('#place_label').css('display', 'inline');
    $('#place_label_here').css('display', 'none');
    $('#place_label_near_to').css('display', 'none');
    $('#place_label_in').css('display', 'inline');
    $('#query_place').css('display', 'inline');
    
    return false;
}

{% if here %}
print_here();
{% elif place_id=="" %}
any_place();
{% else %}
this_place();
{% endif %}

function all_products() {
    $("#query_product").html("todo");
    $('#q_product').val("");
    $('#q_product_name').val("");
    $("#query_items").html("");
    $('#q').val("");
    return false;
}
</script>

{% if editing %}
<script>
$('#addEditModal').modal('show')
</script>
{% endif %}

{% endblock %}
